<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a New Listing</h3>
    <form
      method="post"
      action="/listings"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter short description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
        required
      </div>
      <div class="mb-3">
        <select class="form-select" name="listing[category]">
          <option selected>Open this select category</option>
          <option value="mountain">Mountain</option>
          <option value="arctic">Arctic</option>
          <option value="boats">Boats</option>
          <option value="beach">Beach</option>
          <option value="rooms">Rooms</option>
          <option value="iconic city">Iconic City</option>
          <option value="pools">Amazing Pools</option>
          <option value="camping">Camping</option>
          <option value="farms">Farms</option>
        </select>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter valid Price.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please select a valid country.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Jaipur,Rajasthan"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please provide a valid location.</div>
      </div>

      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
    </form>
  </div>
</div>
